/* RESET */
*,
html,
body,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100vw;
    user-select: none;
}

main {
    position: relative;
    background-color: #000;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 1em 1em 3em 1em;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('./media/gotbgmob-min.jpg');
    background-color: rgb(13, 4, 31);
    background-blend-mode: color-dodge;
    background-size: cover;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
}

#home-page input {
    width: 30%;
    padding: 1em;
    border-radius: 1.5em;
    background: transparent;
    color: #fff;
    border-color: rgba(93, 0, 255, 0.374);
    cursor: pointer;
    outline: none;
    font-size: 3vw;
}

#home-page input:hover {
    color: #fff;
    border-color: rgba(93, 0, 255, 0.374);
    background: rgba(93, 0, 255, 0.374);
}

#home-page h1 {
    color: #fff;
    font-size: 10vw;
}

#home-page h2 {
    color: #fff;
    font-size: 5vw;
}

.section {
    padding: 1em;
}

#game-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 101vw;
    width: 100vw;
    height: 100vh;
    background-color: rgb(6, 0, 19);
    background-image: url('./media/gotnightking.jpeg');
    background-blend-mode: screen;
    background-position: center;
    background-size: cover;
    transition: all 0.3s linear;
    transform: translateZ(0);
}

#speaker {
    color: rgb(255, 255, 255);
    position: absolute;
    display: block;
    font-size: 1.5em;
    top: 1%;
    margin-left: 45%;
    z-index: 30;
    cursor: pointer;
}

#title-bar {
    width: 85vw;
    font-size: 5vw;
    color: #fff;
    text-align: center;
    border-radius: 2em 2em 0 0;
    margin: 0 auto;
}

#score-section {
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: #09a2cc;
    border-radius: 2em 2em 0 0;
    margin: 0 auto;
}

#score p:nth-of-type(2) {
    line-height: 0.9;
    font-weight: 700;
    color: #fff;
    font-size: 3em;
    margin-bottom: 0.2em;
}

#quiz-progress {
    width: 91vw;
    height: 0.5em;
    line-height: 0.1;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: -0.5em;
    border-radius: 2em;

}

#quiz-progress div {
    height: 100%;
    background-color: rgb(127, 15, 161);
    /* flex: 1; */
    width: 20%;
    margin: 0 0.1em;
    border-radius: 0.5em;
    display: none;

}

#question-section {
    background-color: rgb(248, 248, 248);
    box-shadow: 0 2px 80px #080014;
    margin: 3em 1em;
    margin: 0 1em;
    border-radius: 1em;
    line-height: 1.5;
    width: 95%;
}

#question-section header {
    font-weight: 800;
    font-size: 1.2em;
    color: #3f0355;
}


#question-section #question {
    margin-bottom: 1em;
}

#options p {
    background-color: #09a2cc;
    margin-bottom: 0.5em;
    line-height: 2.5em;
    border-radius: 1.2em;
    padding: 0 0.4em;
    cursor: pointer;
    color: #000;
}

#options p:hover {
    background-color: #70e0ff;
}

#options p>span {
    background-color: #fbfbfb;
    line-height: 1.5;
    border-radius: 50%;
    padding: 0.4em .8em;
    box-shadow: 0 0 8px #1464ee;
    color: #3f0355;
    font-weight: 800;
}

#next-question-btn,
#display-score-btn {
    width: 200px;
    line-height: 1.5em;
    border-radius: 1em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
    padding: 0.5em;
    font-size: 1em;
    outline: none;
    background-color: rgb(63, 3, 85);
    box-shadow: 0 4px 20px rgb(121, 51, 226);
    border: none;
    color: #fff;
}

#display-score-btn {
    background-color: #900376;
    box-shadow: 0 4px 20px rgb(141, 32, 143);
    display: none;
}

#next-question-btn:hover {
    background-color: green;
    box-shadow: 0 4px 20px rgb(32, 143, 63);
}

#footer {
    width: 100%;
    background-color: rgba(35, 2, 51, 0.312);
    position: fixed;
    display: block;
    bottom: 0;
    text-align: center;
    color: rgb(202, 147, 250);
    font-size: 0.7em;
}

#score-notification {
    position: absolute;
    display: flex;
    transform: scale(0);
    opacity: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
    transform: translateZ(0);
}

#score-notification>div {
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 1, 42, 0.884);
    z-index: 1;
    position: absolute;
}

#score-modal {
    width: 90%;
    background-color: #fff;
    height: 80vh;
    border-radius: 1em;
    padding: 0 2em 1em 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    overflow: hidden;
}

#score-modal div:nth-of-type(1) {
    width: 130%;
    height: 60%;
    margin: 0;
    background-color: #3f0355;
    background-size: cover;
    background-position: center;
}

#score-modal header {
    font-size: 4em;
    color: #ffffff;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    text-shadow: 0 3px 4px #00d0ff, 0 10px #37ff00, 1px 15px #7f0fa1;
    ;
}

#score-modal div:nth-of-type(2) {
    color: rgb(55, 255, 0);
    font-size: 3em;
}

#score-modal div:nth-of-type(3) {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#score-modal div>button {
    flex: 1;
    padding: 0.9em;
    border-radius: 1em;
    margin: 2.5em 0.5em 1em 0.5em;
    outline: none;
    border: none;
    line-height: 1.5;
    color: #fff;
}

#home-btn {
    background-color: #7f0fa1;
    ;
}

#play-again-btn {
    background-color: #1464ee;
}

button {
    cursor: pointer;
    animation: scale 0.3s linear;
    box-shadow: 2px 2px 10px grey;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 600px) {
    #question-section {
        width: 80%;
        padding: 2em;
    }

    #question-section p {
        margin-top: 1em;
    }

    #quiz-progress {
        width: 71%;
    }

    #score-section {
        width: 70%;
    }

    #title-bar {
        font-size: 3vw;
        line-height: 0.1;
        padding: 1em;
    }

    #speaker {
        font-size: 2em;
        top: 2%;
    }

    #footer {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 1024px) {
    #question-section {
        width: 60%;
        padding: 2em 3em;
    }

    #question-section p {
        margin-top: 1em;
    }

    #quiz-progress {
        width: 50%;
    }

    #score-section {
        width: 50%;
    }

    #home-page h1 {
        font-size: 6vw;
    }

    #home-page h2 {
        font-size: 3vw;
    }

    #title-bar {
        font-size: 2.5vw;
        line-height: 0.1;
        padding: 1em;
    }

    #score-modal {
        width: 60%;
        height: 70vh;
    }

    #home-page input {
        width: 25%;
        padding: 0.7em;
        font-size: 2.5vw;
    }

    #speaker {
        font-size: 2em;
        top: 2%;
    }

    #footer {
        font-size: 1em;
    }
}
